body {
    background-color: black;
    color: violet;
    font-size: 2rem;

}
h1 {
    font-size: xx-large;
    color: darkred;
    font-weight: bold;
}
#cover_img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -100;
  position: absolute;
}
p {
    font-size: x-large;
    font-style: initial;
}